<div class="swiper" >
    <div class="swiper-wrapper">
        <div *ngFor="let movie of movies"
            class="swiper-slide cursor"
            [ngStyle]="{
                'background-size': 'cover',
                'background-position': 'center center',
                'background-repeat': 'no-repeat',
                'background-image': 'url(https://image.tmdb.org/t/p/original'+ movie.backdrop_path +')'
            }">
            <div class="movie-description">
                <h2 class="display-6 fw-bold mb-3">{{ movie.title }}</h2>
                <p class="mb-2">{{ movie.overview | readmore }}</p>
              <div class="d-flex gap-3">
                <a (click)="onMovieClick(movie)"  class="btn-readmore cursor">Read more</a>
              </div>
            </div>
        </div>
    </div>

    <a (click)="onSliderPrev()" class="btn swiper-button-prev"></a>
    <a (click)="onSliderNext()" class="btn swiper-button-next"></a>

</div>
