<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/imgs/logo.png" width="180" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex form-inline my-2 my-lg-">
            <input #txtBuscar
                (keyup.enter)="searchMovie(txtBuscar.value)"
                class="form-control mr-sm-2"
                type="search"
                placeholder="Buscar película"
                aria-label="Search">
            <button (click)="searchMovie(txtBuscar.value)"
                class="btn btn-outline-danger my-2 my-sm-0 btn-mobile-lg"
                type="submit">Buscar</button>
        </div>
    </div>
</nav>