/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    position  : relative;
    min-height: 100dvh;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    background-color: #020615;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr {
  border: 1px solid #FF2F28;
  margin-bottom: 40px;
}

.cursor {
    cursor: pointer;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.btn-outline-danger {
    border-color: #bd4c5f;
    color: #bd4c5f;
}

.block {
    display: block;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
